.tableBoxContainer {
	width: 80%;
	border-width: 0 2px 2px 2px;
	border-color: blue;
	border-style: solid;
}
.tableBoxHeader {
	background-color: blue;
}
th {
	border-width: 0 1px;
	border-color: black;
	border-style: dashed;
}
